# IDE / OS
.DS_Store
.vscode/
.idea/

# Local Docker override
compose.versions.yaml

# Sensitive Magento configuration
src/

!src/app/code/
!src/app/design/
!src/app/etc/config.php
!src/app/etc/db_schema.xml
!src/app/etc/di.xml
!src/composer.json
!src/composer.lock
!src/.user.ini
!/src/.editorconfig
